<style>
    body {
        font: 18px Arial,sans-serif; 
        margin: 0px;
    }
</style>

Welcome {{name}}!
<p/>
<a href="/routes">PROCEED TO MAP</a>
<p/>
Tips:
<p/>
<ul>
    <li>Currently downloading last 200 activities only. More on request.</li>
    <li>Works best on laptop rather than phone</li>
    <li>Most recent ride (or run) highlighted in <div style="color:red;">red</div></li>
    <li>... last 7 are <div style="color:#9c2696;">purple</div></li>
    <li>... rest are <div style="color:#3344FF;">blue</div> which fades as rides get older</li>
    <li>Click an activity in the list to highlight it in <div style="color:green;">green</div> on the map</li>
    <li>On the map, click the route to see the date of the ride</li>
  </ul>
  <p/>

Feedback to <a href="mailto:colin.j.mclellan@gmail.com?subject=StraView">colin.j.mclellan@gmail.com</a>

